{% extends "stats/header.html" %}

{% block content%}
  <div>
    <h4>What is 120stat?</h4>
      <p>
        120stat is a website designed to help fantasy football players make informed decisions before drafting, 
        trading, or claiming players. The application utilizes <a href="https://github.com/BurntSushi/nfldb">nfldb</a>, 
        an open source project that provides a database and Python interface to gather NFL statistics. Our project 
        is currently a work in progress. It can be found on our <a href="https://github.com/tsitsop/SD-D">github</a>.
      </p>

    <h4>Who are the creators?</h4>
      <p>
        The four members of our team are George Tsitsopoulos, Shane O'Brien, Zach Maurer, and Jose Guvenilir. We are
        all seniors at Rensselaer Polytechnic Institute working together in our Software Design and Documentation 
        class. 
      </p>

  </div>
{% endblock %}
