<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />

<html lang = "en">
	<head>
		<title>120Stat</title>
    <meta charset="utf-8"/>
	</head>

	<body>

		<table>
		    <th><h1><b>120Stat</b></h1></th>
	    </table>
		<div id="navBar">
			<div class="navPage">
				<a href ="{% url 'stats:get' %}">Home</a>
			</div>
			<div class="navPage">
				<a href ="{% url 'stats:about' %}">About Us</a>
			</div>
		</div>
		<div>
	      {% block content %}
	      {% endblock %}
		</div>
	</body>
</html>
